root = true

# All files
[*]
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

# Typescript/Javascript
[client/**/*.{js,ts,json}]
indent_style = space
indent_size = 2

# Groovy/Java
[server/**/*.{groovy,java}]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false

[*.gradle]
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2